:root {
  font-family: "Franklin", Arial, sans-serif;
  background: #1f1717;
  color: #fff4df;
}

html,
body,
#root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
}